body {
  background-color: #ffe0e6;
  font-family: Arial, Helvetica, sans-serif;
}

h3{
  color: #252a2f;  
  margin-bottom: 0.5rem;
  margin-top: 0;
}

h1{
  color: #ff8099;
  text-align: center;
}

p{
  margin-top: 0;
}
.app{
  display: flex;
  justify-content: center;
}

input {
  border-radius: 5px;
  height: 20px;
  border: 1px solid #ff8099;  
}

input:focus-visible {
  outline: 1.5px solid #ff8099;  
}

.box {
  display: flex;
  align-items: center;
  flex-direction: column;
  border:  2px dashed #ff8099  ;
  margin: 20px;
  padding: 30px;

}
