body {
  background-color: #ffe0e6;
  font-family: Arial, Helvetica, sans-serif;
}

h3 {
  margin-bottom: 0.8rem;
  margin-top: 0;
}

h1 {
  color: #ff8099;
  text-align: center;
}

p {
  margin-top: 0;
}

.app {
  display: flex;
  justify-content: center;
}


.content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

img {
  width: 300px;
  padding-top: 30px;
}


input {
  border-radius: 5px;
  height: 20px;
  border: 1px solid #ff8099;
}

input:focus-visible {
  outline: 1.5px solid #ff8099;
}

.box {
  display: flex;
  flex-direction: column;
  border: 2px dashed #ff8099;
  margin: 20px;
  padding: 30px;

}


.box-avatar, .box-harry {
  display: flex;
  align-items: center;
  flex-direction: column;
  border: 2px dashed;
  margin: 20px;
  padding: 30px;
  justify-content: center;
  width: 300px;  
}

.box-harry {
  background-color: white;
}

.box-avatar img, .box-harry img {
  width: 300px;
  margin-bottom: 15px;
}

.box-casa {
display: flex;
flex-direction: column-reverse;
align-items: center;
}

.box-casa img {
  width: 50px;
  margin-right: 10px;
}

a {
  background-color: #ff8099;
  border: 0;
  color: white;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  padding: 5px 10px 5px 10px;
  margin-bottom: 10px;
  text-decoration: none;
}


label {
    font: 1rem 'Fira Sans', sans-serif;
}

input {
    margin: .4rem;
    cursor: pointer;
}

.box-radio {
display: flex;
align-items: center;
}

.banner {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
}